<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Smart-Trolley</display-name>
  <filter>
    <filter-name>XSSFilter</filter-name>
    <filter-class>com.filter.XSSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>XSSFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>XContentTypeOptionsFilter</filter-name>
    <filter-class>com.filter.XContentTypeOptionsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>XContentTypeOptionsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.dao.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>passwordReset</servlet-name>
    <servlet-class>com.dao.passwordReset</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>passwordReset</servlet-name>
    <url-pattern>/cGFzc3dvcmRSZXNldA==</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/JSP/error-pages/page_404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/JSP/error-pages/page_500.jsp</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/JSP/error-pages/page_404.jsp</location>
  </error-page>
  <error-page>
    <error-code>402</error-code>
    <location>/JSP/error-pages/page_404.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/JSP/error-pages/page_403.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>sessionExpired</servlet-name>
    <jsp-file>/JSP/error-pages/sessionExpired.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessionExpired</servlet-name>
    <url-pattern>/sessionExpired</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <jsp-file>/JSP/logout.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Home</servlet-name>
    <jsp-file>/JSP/Home.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>resetPass</servlet-name>
    <jsp-file>/JSP/resetPass.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>resetPass</servlet-name>
    <url-pattern>/cmVzZXRQYXNz==</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dashboard</servlet-name>
    <jsp-file>/JSP/dashboard.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>dashboard</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>transactionDashboard</servlet-name>
    <jsp-file>/JSP/transactionDashboard.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>transactionDashboard</servlet-name>
    <url-pattern>/transactionDashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>inventory</servlet-name>
    <jsp-file>/JSP/inventory.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>inventory</servlet-name>
    <url-pattern>/inventory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getTableData</servlet-name>
    <jsp-file>/JSP/getTableData.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>getTableData</servlet-name>
    <url-pattern>/getTableData</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/JSP/index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <cookie-config>
      <http-only>true</http-only>
    </cookie-config>
  </session-config>
</web-app>